h1 {
  color: green;
  font-style: italic;
}

.note {
color: grey;
padding-top: 3px;
font-size: 15px;
}

.error {
color: red;
background: lightgrey;
font-size: 20px;
border-style: solid;
border-radius: 5px;
padding: 10px;
margin-bottom: 10px;
}  

/* body {
  width: 100%;
  height: 100vh;
  background: #41295a; 
  background: -webkit-linear-gradient(to right, #2F0743, #41295a); 
  background: linear-gradient(to right, #2F0743, #41295a); 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */